<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.springboot.cboard.C_BoardDAO">

<select id="selectCount" resultType="int">
  SELECT COUNT(*) FROM C_Board
  WHERE C_title LIKE '%' || #{searchword, jdbcType=VARCHAR} || '%'
</select>

 <select id="selectView" parameterType="int" resultType="com.project.springboot.cboard.C_BoardDTO">
    SELECT * FROM c_board WHERE c_num=#{c_num}
  </select>

<select id="selectListPage" resultType="com.project.springboot.cboard.C_BoardDTO">
    SELECT *
    FROM (
        SELECT Tb.*, ROWNUM rNum
        FROM (
            SELECT *
            FROM C_Board
            <where>
                <if test="searchword != null">
                    AND ${searchField} LIKE '%' || #{searchword, jdbcType=VARCHAR} || '%'
                </if>
            </where>
            ORDER BY C_num DESC
        ) Tb
    )
    WHERE rNum BETWEEN ${start} AND ${end}
</select>
    <insert id="insertWrite" parameterType="com.project.springboot.cboard.C_BoardDTO">
        INSERT INTO C_Board (
            C_num, U_ID, C_title, C_content, C_ofile, C_sfile
        )
        VALUES (
            C_num_SEQ.NEXTVAL, #{u_id, jdbcType=VARCHAR}, #{c_title, jdbcType=VARCHAR}, #{c_content, jdbcType=VARCHAR}, #{c_ofile, jdbcType=VARCHAR}, #{c_sfile, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updatec_visitcount" parameterType="int">
        UPDATE C_Board
        SET C_visitcount = C_visitcount + 1
        WHERE C_num = #{c_num}
    </update>
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM C_Board
        WHERE C_num = #{C_num}
    </delete>

    <insert id="insertBoard" parameterType="com.project.springboot.cboard.C_BoardDTO">
        INSERT INTO C_Board (
            C_title, C_content, C_ofile, C_sfile, U_ID, C_postdate, C_downcount, C_pass, C_visitcount
        )
        VALUES (
            #{c_title}, #{c_content}, #{c_ofile}, #{c_sfile}, #{u_id}, #{c_postdate}, #{c_downcount}, #{c_pass}, #{c_visitcount}
        )
    </insert>
<select id="selectSomeRows" resultType="hashmap">
    SELECT * FROM (
        SELECT ROWNUM rnum, t.*
        FROM (
            SELECT * FROM table
            WHERE u_id = #{u_id, jdbcType=VARCHAR}
            ORDER BY some_column ASC
        ) t
    ) WHERE rnum BETWEEN #{startRow, jdbcType=INTEGER} AND #{rowCount, jdbcType=INTEGER}
</select>
<!-- 수정 -->
<update id="updateEdit" parameterType="com.project.springboot.cboard.C_BoardDTO">
	UPDATE c_board
	SET c_title = #{c_title},
		c_content = #{c_content},
		c_ofile = #{c_ofile},
		c_sfile = #{c_sfile}
	WHERE c_num = #{c_num}
</update>


</mapper>
