@charset "UTF-8";

/* login / join CSS */
.user-list{
	max-width:1200px;
	margin:0 auto;
	display:flex;
	justify-content:center;	
	padding:100px 0;
}
.user-list > li{
	text-align:center;
	width:340px;
	padding:26px 0;
	border:3px solid #95C8F9;
	border-radius:10px;
	color:#95C8F9;
}
.user-list > li:nth-child(2){
	border-color:#E2CC71;
	color:#E2CC71;
	margin-left:20px;
}

.user-list > li > p{
	font-size:14px;
	font-weight:700;
	margin-bottom:20px;
	
}
.user-list > li > img{
	display:block;
	margin:0 auto;
	max-width:100%;
	margin-bottom:20px;
}
.user-list > li > a{
	position:relative;
	display:block;
	font-size:26px;
	font-weight:700; 
	color:#000;
	padding-right:24px;
}
.user-list > li > a:after{
	content:'';
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:24px;
	height:24px;
	background:url(../userimages/ico_arrow_right.png) no-repeat center / cover;
}
@media (max-width:768px){
	.user-list{
		flex-wrap:wrap;	
	}
	.user-list > li{
		width:80%;
		max-width:386px;
	}
	.user-list > li:nth-child(2){
	margin:20px 0 0;
}
}

/* 프로필 CSS */
/* .profile {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile-text {
  font-size: 14px;
  font-weight: bold;
}
 */